mixin input({ type, name, placeholder, value, isFocused, withButton})
  -
    let inputBaseClass = 'input__base'

    if (isFocused) { inputBaseClass += ' input__base_focused'}
    if (withButton) { inputBaseClass += ' input__base_with-button'}

  .input
    input(class=inputBaseClass, type=type, name=name, placeholder=placeholder, value=value)
    if withButton
      button.input__button(type='submit')
