mixin dropDownInput({ text, value, placeholder, classForJs })
  -
    let dropDownBodyClass = 'dropdown-input__body'
    let dropDownButtonClass = 'dropdown-input__button'

    if (classForJs) {
      dropDownBodyClass += ` ${classForJs}`
      dropDownButtonClass += ` ${classForJs}`;
    }

  .dropdown-input.js-dropdown__toggle-button
    .dropdown-input__wrapper
      input(
        class=dropDownBodyClass,
        title=value || false,
        value=value || false,
        placeholder=placeholder || false,
        type='text',
        readonly
      )
      button(class=dropDownButtonClass, type='button')
