mixin dropDownInput({ text, classForJs }) 
  -
    let dropDownBodyClass = 'dropdown-input__body'
    let dropDownButtonClass = 'dropdown-input__button'

    if (classForJs) {
      dropDownBodyClass += ` ${classForJs}`
      dropDownButtonClass += ` ${classForJs}`;
    }

  .dropdown-input
    .dropdown-input__wrapper
      input(class=dropDownBodyClass, value=text, readonly)
      button(class=dropDownButtonClass, type='button')