include ../like-button/like-button

mixin comment({ avatarSrc, authorName, likeCount, isLikeActive, datePost, text })
  article.comment
    .comment__wrapper
      .comment__column
        .comment__avatar
          img.comment__avatar-img(src=avatarSrc, alt=authorName)
        +likeBtn({ count: likeCount, isActive: isLikeActive })
      .comment__column
        p.comment__title= authorName
        p.comment__date= datePost
        p.comment__text= text
