mixin radioButton({ items })
  .radio-button
    .radio-button__wrapper 
      ul.radio-button__list
        each item in items
          -
            const { label, groupName, isChecked } = item
            let labelClass = 'radio-button__label-text'
            let inputClass = 'radio-button__input'

          li.radio-button__item
           label.radio-button__label
            input(
              class=inputClass,
              name=groupName,
              type='radio'
              checked=isChecked
            )
            span(class=labelClass tabindex='0')= label